<%-  include("partials/header.ejs");  -%>

<!--<h1>About</h1> -->
<h1>Search for your Article</h1>
<form  action="/about" method="post">
    <div class="form-group">
        
        <input  type="text" name="search" >

    </div>
    
    <button class="btn btn-primary" type="submit" name="button">Search</button>
</form>

<!-- <p><%= aboutContent %></p> -->

<%-  include("partials/footer.ejs");  -%>